<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.marcogallegos.translateapi</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/marco.gallegos/.local/bin/uv</string>
        <string>run</string>
        <string>python</string>
        <string>api.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/marco.gallegos/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/marco.gallegos/code/python/careless_whisper/logs/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/marco.gallegos/code/python/careless_whisper/logs/stderr.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/marco.gallegos/code/python/careless_whisper/</string>
</dict>
</plist>
